/* Write your CSS here! */
* {
    font-family:Helvetica, sans-serif;
}

body {
    margin: 8px;
    display: block;
    background-image: url("images/Background.jpg");
}

img {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 30pt;
    margin-top: 0px;
}

h3 {
    font-size: 20pt;
}

footer {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    text-align: center;
}

.row {
    display: flex;
    max-width: 100%;
    align-items: center;
    margin: 10px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
    font-size: 40pt;
    text-align: center;
    margin-bottom: 0px;

}